<ion-header>
  <ion-toolbar color="light">
    <ion-title class="text">Centro de salud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding fondo-login">
  <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow rounded-4 p-4 w-100" style="max-width: 420px; background-color: rgba(255, 255, 255, 0.95);">
      <h4 class="text-center mb-4">Recuperar Correo</h4>

      <form>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre completo</label>
          <input type="text" class="form-control" id="nombre" placeholder="Tu nombre">
        </div>

        <div class="mb-3">
          <label for="rut" class="form-label">RUT</label>
          <input type="text" class="form-control" id="rut" placeholder="11.111.111-1">
        </div>

        <div class="text-center mt-4">
          <form (ngSubmit)="enviarCorreo()">
            <!-- input correo -->
            <button type="submit" class="btn btn-primary w-100">Recuperar correo</button>
          </form>
          
          <div *ngIf="mostrarMensaje" class="alert alert-success text-center mt-3" role="alert">
            Se ha enviado un enlace a tu correo (si está registrado).
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>
