<ion-header>
  <ion-toolbar color="light">
    <ion-title class="text">Centro de salud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding fondo-login">
  <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow rounded-4 p-4 w-100" style="max-width: 420px; background-color: rgba(255, 255, 255, 0.95);">
      <h4 class="text-center mb-4">Recuperar Contraseña</h4>

      <form>
        <div class="text-center mt-4">
          <form (ngSubmit)="enviarSolicitud()">
            <div class="mb-3">
              <label for="correo" class="form-label">Ingrese su correo</label>
              <input type="email" class="form-control" id="correo" placeholder="ejemplo@correo.com">
            </div>
          
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-primary w-100">Enviar</button>
            </div>
          
            <div *ngIf="enviado" class="alert alert-warning mt-3 text-center" role="alert">
              Se enviará un correo con instrucciones para restablecer la contraseña.
            </div>
          </form>
        </div>
      </form>
    </div>
  </div>
</ion-content>

